[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
twine = "*"
setuptools-scm = "*"
pre-commit = "*"
sphinx = "*"
myst-parser = "*"

[packages]
geopandas = "*"

[requires]
python_version = "3.9"
